---
import MainLayout from "../layouts/MainLayout.astro";
import profile_img from "../imgs/profile.png";
---

<MainLayout>
  <div class="grid grid-cols-1 lg:grid-cols-2 m-4 flex-grow">
    <div class="flex items-center justify-center">
      <img
        alt="Alex Lavaee"
        class="rounded-full w-2/3 border-4 border-creamy_white"
        src={profile_img}
      />
    </div>

    <div
      class="flex flex-col items-center justify-center font-baskerville text-creamy_white xl:text-xl rounded-2xl m-4"
    >
      <div>
        <p class="mx-8 my-4">
          I am a data science student at Boston University's college of
          Computing & Data Sciences (CDS) with experience in Agile development,
          Scrum, Object-oriented programming, Test-driven development, and Cloud
          computing.
        </p>
        <p class="mx-8 my-4">
          I have experience implementing DevOps practices and have successfully
          deployed projects using CI/CD pipeline. I have experience working with
          large datasets and have conducted data mining and data visualization
          to uncover insights. I have knowledge building machine learning and
          deep learning systems using Scikit-learn, TensorFlow, and Keras. I
          also have experience in predictive modeling, time series analysis, and
          Natural Language Processing (NLP) utilizing Large Language Models
          (LLMs).
        </p>
        <p class="mx-8 my-4">
          With my experience and skills, I can contribute to research by
          developing models and finding solutions to complex problems and in
          businesses by implementing data-driven solutions to improve decision
          making and operations. I am confident that I can provide valuable
          insights and help organizations achieve their goals.
        </p>
      </div>
    </div>
  </div>
</MainLayout>
