---
import MainLayout from "../layouts/MainLayout.astro"
---

<MainLayout>
  <div class=" items-center flex flex-col mx-auto justify-center gap-6 md:gap-10 h-full w-full bg-slate-950">
    <div class="flex flex-row gap-8">
      <h1 class="font-baskerville font-bold text-creamy_white text-2xl md:text-3xl lg:text-4xl xl:text-5xl">
        Mail
      </h1>
      <a
        class="font-baskerville text-sky-400 before:content-['_↗'] hover:text-sky-200 text-2xl md:text-3xl lg:text-4xl xl:text-5xl"
        href="mailto:alavaee@bu.edu"
      >
        alavaee@bu.edu
      </a>
    </div>
    <div class="flex flex-row gap-8">
      <h1 class="font-baskerville font-bold text-creamy_white text-2xl md:text-3xl lg:text-4xl xl:text-5xl">
        Social Media
      </h1>
      <a
        class="font-baskerville text-sky-400 before:content-['_↗'] hover:text-sky-200 text-2xl md:text-3xl lg:text-4xl xl:text-5xl"
        href="https://www.linkedin.com/in/alexlavaee/"
      >
        LinkedIn
      </a>
    </div>
    <div class="flex flex-row gap-8">
      <h1 class="font-baskerville font-bold text-creamy_white text-2xl md:text-3xl lg:text-4xl xl:text-5xl">
        Developer
      </h1>
      <a
        class="font-baskerville text-sky-400 before:content-['_↗'] hover:text-sky-200 text-2xl md:text-3xl lg:text-4xl xl:text-5xl"
        href="https://github.com/lavaman131/"
      >
        GitHub
      </a>
    </div>
  </div>

</MainLayout>
  