---
import profile_img from "../imgs/profile.webp";
import CodingSkillsWidget from "../components/coding_skills.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <div class="grid grid-cols-1 gap-6 m-4">
    <div class="flex flex-col items-center gap-4">
      <h1
        class="font-code_font bg-gradient-to-t from-yellow-300 via-red-300 to-magic_purple bg-clip-text text-transparent text-4xl sm:text-5xl lg:text-6xl 2xl:text-7xl"
      >
        Hi, I&apos;m Alex <span class="text-white">👋</span>
      </h1>
      <div class="relative">
        <div class="absolute inset-0 bg-dark_gold rounded-full blur"></div>
        <div class="relative w-80 h-80 rounded-full overflow-hidden">
          <img
            src={profile_img}
            alt="Alex Lavaee"
            class="w-full h-full object-contain object-center"
          />
        </div>
      </div>
    </div>

    <div
      class="text-gray-100 text-md sm:text-lg md:text-2xl lg:text-3xl font-code_font max-w-3xl"
    >
      🎓 I am an undergraduate student at Boston University's College of
      Computing & Data Sciences (CDS). I'm passionately pursuing excellence in
      both theoretical foundations and practical applications of software
      engineering, machine learning, data science, and research. Please take a look at my <a class="underline text-dark_gold" href="/Projects">projects</a> 🚀
    </div>
    <div>
    </div>

    <!-- <CodingSkillsWidget /> -->
  </div>
</MainLayout>
