---
import Layout from "../layouts/Layout.astro";
import { SITE_TITLE } from "../config";
import AboutMe from "../components/AboutMe.astro";
---

<Layout title={`${SITE_TITLE}`}>
  <Fragment slot="main">
    <div class="flex-1 grid place-items-center my-4">
      <AboutMe />
    </div>
  </Fragment>
</Layout>
