---
import Layout from "../layouts/Layout.astro";
import { SITE_TITLE } from "../config";
import ProjectCard from "../components/ProjectCard.astro";
import { getCollection } from "astro:content";
const allProjects = await getCollection("projects");
---

<Layout title={`Projects | ${SITE_TITLE}`}>
  <Fragment slot="main">
    <div class="container mx-auto px-3 sm:px-6">
      <ul
        class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 gap-4 md:gap-6 p-0 m-0 list-none max-w-[2000px] mx-auto"
        style="--min-card-width: min(350px, 100%);"
      >
        {
          allProjects.map((project) => (
            <ProjectCard
              href={`/projects/${project.slug}`}
              title={project.data.title}
              image={project.data.cover}
            />
          ))
        }
      </ul>
    </div>
  </Fragment>
</Layout>
