---
import languages_img from "../imgs/languages.png";
---

<div class="grid grid-cols-1 place-items-center gap-10 m-8">
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-10 place-items-start m-4">
    <div class="flex flex-col gap-4">
      <h1 class="font-baskerville text-xl md:text-2xl lg:text-3xl xl:text-4xl bg-gradient-to-t from-yellow-300 via-red-300 to-magic_purple bg-clip-text text-transparent">
        Skills
      </h1>
      <div class="font-baskerville text-slate-300">
        Programming Languages:
      </div>
      <div class="font-baskerville text-slate-300 flex items-center space-x-2">
        <img
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg"
          alt=""
          class="w-10 h-10 md:w-14 md:h-14"
        />

        <img
          src="https://raw.githubusercontent.com/actions/starter-workflows/main/icons/rust.svg"
          alt=""
          class="w-10 h-10 md:w-14 md:h-14"
        />
        <img
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg"
          alt=""
          class="w-10 h-10 md:w-14 md:h-14"
        />
        <img
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg"
          alt=""
          class="w-10 h-10 md:w-14 md:h-14"
        />
        <img
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg"
          alt=""
          class="w-10 h-10 md:w-14 md:h-14"
        />
        <img
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg"
          alt=""
          class="w-10 h-10 md:w-14 md:h-14"
        />
      </div>
      <div class="font-baskerville text-slate-300">
        Data Science Frameworks:
      </div>
      <div class="font-baskerville text-slate-300 flex items-center space-x-2">
        <img
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/pytorch/pytorch-original.svg"
          alt=""
          class="w-10 h-10 md:w-14 md:h-14"
        />
        <img
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/tensorflow/tensorflow-original.svg"
          alt=""
          class="w-10 h-10 md:w-14 md:h-14"
        />
        <img
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/numpy/numpy-original.svg"
          alt=""
          class="w-10 h-10 md:w-14 md:h-14"
        />
        <img
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/pandas/pandas-original.svg"
          alt=""
          class="w-10 h-10 md:w-14 md:h-14"
        />
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/0/05/Scikit_learn_logo_small.svg"
          alt=""
          class="w-10 h-10 md:w-14 md:h-14"
        />
        <img
          src="https://raw.githubusercontent.com/valohai/ml-logos/master/scipy.svg"
          alt=""
          class="w-10 h-10 md:w-14 md:h-14"
        />
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/0/01/Created_with_Matplotlib-logo.svg"
          alt=""
          class="w-10 h-10 md:w-14 md:h-14"
        />
      </div>
      <div class="font-baskerville text-slate-300">
        Backend Frameworks:
      </div>
      <div class="font-baskerville text-slate-300 flex items-center space-x-2">
        <img
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/fastapi/fastapi-original.svg"
          alt=""
          class="w-10 h-10 md:w-14 md:h-14"
        />
        <img
          src="https://www.vectorlogo.zone/logos/getpostman/getpostman-icon.svg"
          alt=""
          class="w-10 h-10 md:w-14 md:h-14"
        />
        <img
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg"
          alt=""
          class="w-10 h-10 md:w-14 md:h-14"
        />
        <img
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-plain.svg"
          alt=""
          class="w-10 h-10 md:w-14 md:h-14"
        />
      </div>
      <div class="font-baskerville text-slate-300">
        Frontend Frameworks:
      </div>
      <div class="font-baskerville text-slate-300 flex items-center space-x-2">
        <img
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg"
          alt=""
          class="w-10 h-10 md:w-14 md:h-14"
        />
        <img
          src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/tailwindcss/tailwindcss-plain.svg"
          alt=""
          class="w-10 h-10 md:w-14 md:h-14"
        />
      </div>
    </div>
    <div class="flex flex-col gap-4">
      <h1 class="font-baskerville text-xl md:text-2xl lg:text-3xl xl:text-4xl bg-gradient-to-t from-yellow-300 via-red-300 to-magic_purple bg-clip-text text-transparent">
        GitHub Stats
      </h1>
      <div class="flex flex-col gap-4">
        <img
          src={languages_img}
          alt="git languages"
          class="w-5/6 rounded-2xl"
        ></img>
        <img
          src="https://github-readme-stats.lavaman131.vercel.app/api?username=lavaman131&show_icons=true&theme=radical&hide_border=true&&count_private=true&include_all_commits=true"
          alt="git commits"
          class="w-5/6 rounded-2xl"
        ></img>
      </div>
    </div>
  </div>
</div>