---
const currentYear = new Date().getFullYear();
---

<footer
  class="text-sm leading-[1.75] py-8 mt-auto border-t border-ctp-surface0 transition-catppuccin"
>
  <div
    class="flex items-center justify-center text-ctp-subtext1 px-4 sm:px-6 md:px-8 max-w-7xl mx-auto"
  >
    © {currentYear} Alex Lavaee
  </div>
</footer>
