---
const currentYear = new Date().getFullYear();
---

<footer class="text-sm leading-[1.75] py-4 mt-auto">
  <div
    class="flex items-center justify-center text-text-muted px-4 sm:px-6 md:px-8"
  >
    © {currentYear} Alex Lavaee
  </div>
</footer>
