---
import logo from '../imgs/logo.webp';
---

<nav class="bg-slate-950 md:bg-none sticky top-0 z-50">
  <div class="flex-initial max-w-7xl mx-auto px-4">
    <div class="flex justify-between">
      <div class="flex space-x-4">
        <div class="flex items-center space-x-1">
          <img src={logo} alt="logo" class="h-12 w-12 mr-2 rounded-full" />
        </div>
        <div class="flex items-center space-x-1">
          <a href="/" class="py-5 px-3 font-mono text-light_gold hover:text-dark_gold">Home</a>
        </div>
        <div class="hidden md:flex items-center space-x-1">
          <a href="/About" class="py-5 px-3 font-mono text-light_gold hover:text-dark_gold">About</a>
        </div>
        <div class="hidden md:flex items-center space-x-1">
          <a href="/Projects" class="py-5 px-3 font-mono text-light_gold hover:text-dark_gold">Projects</a>
        </div>
        <div class="hidden md:flex items-center space-x-1">
          <a href="/Contact" class="py-5 px-3 font-mono text-light_gold hover:text-dark_gold">Contact</a>
        </div>
      </div>

      <div class="md:hidden flex items-center">
        <button class="mobile-menu-button">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-slate-300">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="mobile-menu hidden md:hidden">
    <a href="/About" class="block py-2 px-3 text-sm font-mono text-light_gold hover:bg-slate-500">About</a>
    <a href="/Projects" class="block py-2 px-3 text-sm font-mono text-light_gold hover:bg-slate-500">Projects</a>
    <a href="/Contact" class="block py-2 px-3 text-sm font-mono text-light_gold hover:bg-slate-500">Contact</a>
  </div>
</nav>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const btn = document.querySelector(".mobile-menu-button");
    const menu = document.querySelector(".mobile-menu");
    btn.addEventListener("click", () => {
      menu.classList.toggle("hidden");
    });
    menu.addEventListener("click", () => {
      menu.classList.toggle("hidden");
    });
  });
</script>
