---
// Import the global.css file here so that it is included on
import "../styles/global.css";

import GoogleFont from "./GoogleFont.astro";
import ThemeScript from "./ThemeScript.astro";
import Favicon from "./Favicon.astro";
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html class="theme-sleek" lang="en">
  <head>
    <!-- Global Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="generator" content="Blogster" />
    <Favicon />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <GoogleFont />
    <ThemeScript />
  </head>
  <body
    class="min-h-screen max-w-[2000px] mx-auto px-4 sm:px-6 md:px-8 lg:px-12 flex flex-col"
  >
    <Navigation />
    <main id="main" class="pt-24 sm:pt-28 flex-grow mb-16">
      <slot name="main" />
    </main>
    <Footer />
    <style>
      body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }
      main {
        flex: 1;
      }
    </style>
  </body>
</html>
